@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

html {
  background: #04060D;
  color: #FFFFFF;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
