@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

.bgImage {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -100;
}

.centered {
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}