@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

.bgImage {
  position: absolute;
  left: 0px;
  top: 0px;
}

.centered {
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}

.portal {
  position: absolute;
  width: 520px;
  height: 833.73px;
  left: 519px;
  top: 64px;
  box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
}

.message {
  position: absolute;
  width: 425px;
  height: 210px;
  left: 566px;
  top: 494.16px;

  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;

  color: #FFFFFF;
}

.logo {
  position: absolute;
  width: 351.04px;
  height: 233.16px;
  left: 603px;
  padding-left: 603px;
  top: 197px;
}

.outlines {
  position: absolute;
  width: 902px;
  height: 833.73px;
  left: 112px;
  top: 64px;
}